        <p>&copy; {{ 'now'|date('Y') }} AlexCapture</p>
        <p><a href="#">Mentions légales</a></p>
        <p><a href="#">Politique de confidentialité</a></p>
        <p><a href="#">Politique de cookies</a></p>
        <p><a href="#">FAQ</a></p>
        <p><a href="#">Partenaires</a></p>
        <p><a href="#">Aide</a></p>