<nav class="nav">
	<ul class="nav-items">
		<li>
			<a href="/">Acceuil</a>
		</li>
		<li>
			<a href="/presentations">Presentations</a>
		</li>
		<li>
			<a href="/prestations">Prestations</a>
		</li>
		<li>
			<a href="/avis">Avis</a>
		</li>
		<li>
			<a href="/contact">Contact</a>
		</li>

	</ul>
</nav>