       body {
            font-family: Arial, sans-serif;
            background-image: url("/assets/images/back-ground-image.jpg");
            background-size: cover;
            background-attachment: fixed;
        }



        h1 {
            font-size: 2.5rem;
            text-align: center;
        }

        .container {
            grid-row: repeat(3, 1fr);
            max-width: 900px;
            min-height: 500px;
            margin: 0 auto;
            padding: 20px;
            background-color: #010101;
            opacity: 0.9;
            border-radius: 8px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            max-width: 900px;
            overflow: hidden;
            word-wrap: break-word;
        }

        .pricing {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }

        .package {
            width: 30%;
            background-image: url("/assets/images/photographe.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
             background-attachment: fixed;
             background-color: rgb(86, 77, 77);
            margin: 10px;
            padding: 20px;
            text-align: center;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            border-radius: 8px;
            position: relative;
           
        }

        .package h2 {
            font-size: 1.8rem;
            color: #ffffff;
        }

        .package p {
            font-size: 1.2rem;
            color: #ffffff;
            margin: 10px 0;
        }

        .package .highlight {
            font-size: 1.4rem;
            color: #ff6b6b;
            font-weight: bold;
        }

        .edit-button {
            background-color: rgb(161, 157, 157);
    border-radius: 20px;
    cursor: pointer;
    border: none;
    color: #000000;
    padding: .6rem 4rem;
    opacity: 0.9;
        }

        .edit-button {
            margin-right: 10px;
        }



        .admin-button {
            display: none;
        }

        .add-button {
            text-align: center;
        }
        .editPrestations {
    text-align: center;
}

.edit-button:hover {
    background-color: #383535;
    color: #ffffff;
}


