body {
    background-image: url("/assets/images/back-ground-image.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(86, 77, 77);
    
}

main.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-width: 100%;
}
@media screen and (max-width: 768px) {
    main.container {
        grid-template-columns: 1fr 1fr;
    }
    
    .vide {
        order: 3;
    }
    .presentation {
        order:1;
    }
    .btns {
       order : 2    
    }
}
    

.container > * {
    order: 10;
}

.title {
    text-align: center;
    font-size: 4.5rem;
    text-align: center;
    

   
    
}
.vide {
    margin-top: 5%;
    order: 2;
    align-self: center;
    justify-self: center;
    border-radius: 1rem;
    min-width: 20rem;
    margin: 0 auto;
    border: none;

    
}
img {
    width: 100%;
    border-radius: 1rem;
    opacity: 0.5;
    border: none;

}


aside.presentation {
    text-align: center;

    background-color: rgba(255, 255, 255,0.2);
    max-width: 20rem;
    max-height: auto;
    border-radius: 1rem;
    margin: 0 auto;
    padding: 1.5rem .5rem;
    order: 1;
    align-self: center;
    justify-self: center;
    margin: 0 auto ;


}

section.btns {
    max-width: 50%;
    order: 3;
    justify-self: center;
    align-self: center;
    margin: 0 auto;
 
    
}

/* style buttons */
button.btn{
    padding: .6rem 4rem;
    margin: .2rem;
    background-color: rgb(206, 206, 206);
    border-radius: 20px;
    cursor: pointer;
    border: none;
    color: #000;
}

.btns {
   display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.or {
    text-align: center;
}

.btn:hover {
    background-color: #383535;
    color: #ffffff;
}




.co {
    display: none !important;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}