*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("/assets/images/back-ground-image.jpg");
    background-size: cover;
    background-attachment: fixed;
}


.wrapper_page_creation_compte {
    width: 750px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(25px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 40px 35px 55px;
}

.wrapper_page_creation_compte h1{
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.wrapper_page_creation_compte .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input-box .input-field{
    position: relative;
    width: 40%;
    height: 48px;
    margin: 13px 0;
}

.input-box .input-field input{
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
    font-size: 16px;
    color: #fff;
    border-radius: 6px;
    padding: 15px 15px 15px 40px;
}

.input-box .input-field input::placeholder{
    color: #fff;
}

.input-box .input-field i{
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper_page_creation_compte .btn_crer_compte{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}


.wrapper .btn_retour{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}


.btn_retour a {
    color:#fff;
    text-decoration: none;
    font-weight: 600;
}

.btn_retour a:hover{
    text-decoration: underline;
}

.btn_crer_compte{
    font-size: 100px;
    text-align: center;
}

.wrapper_page_creation_compte .btn_crer_compte{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.ERROR {
    color: red;
    font-size: 15px;
}

.form-error {
    color: red;
    font-size: 14px;
    /* Autres styles d'erreur */
}




footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}